@import "tailwindcss";

@theme {
  --font-family-manrope: Manrope, ui-sans-serif, system-ui, sans-serif;

  --color-text-dark: #fcf3f3;
  --color-background-dark: #040101;
  --color-primary-dark: #8f98d6;
  --color-secondary-dark: #24307a;
  --color-accent-dark: #5362d5;
  --color-text: #0d0303;
  --color-background: #fefafa;
  --color-primary: #293170;
  --color-secondary: #8591db;
  --color-accent: #2a39ac;
}

@custom-variant dark (&:is([data-theme="dark"] *, [data-theme="dark"]));

#map-container {
  position: absolute;
  inset: 0;
  height: 100vh;
  width: 100vw;
}
