@import "tailwindcss";

@theme {
  --font-family-manrope: Manrope, ui-sans-serif, system-ui, sans-serif;

  --color-text-dark: #eae9fc;
  --color-background-dark: #000005;
  --color-primary-dark: #3feece;
  --color-secondary-dark: #91caee;
  --color-accent-dark: #b8b2e1;
  --color-text: #040316;
  --color-background: #fafaff;
  --color-primary: #11c0a0;
  --color-secondary: #114b6e;
  --color-accent: #241e4d;
}

@custom-variant dark (&:is([data-theme="dark"] *, [data-theme="dark"]));

#map-container {
  position: absolute;
  inset: 0;
  height: 100vh;
  width: 100vw;
}
