@import "tailwindcss";

@font-face {
  font-family: "Manrope";
  src: url("/Manrope-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 200 800;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-manrope: "Manrope", ui-sans-serif, system-ui, sans-serif;
  /* --color-text-dark: #eae9fc;
  --color-background-dark: #000005;
  --color-primary-dark: #3feece;
  --color-secondary-dark: #91caee;
  --color-accent-dark: #b8b2e1; */
  --color-text: #040316;
  --color-background: #fafaff;
  --color-primary: #11c0a0;
  --color-secondary: #114b6e;
  --color-accent: #241e4d;
}

#map-container {
  @apply h-full w-full;
  min-height: 400px; /* Fallback height */
}
